/* include extra css tweaks here */
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url('../images/background.png');
	font-family: 'Signika', sans-serif;
}
.jumbotron {
	padding: 0.5em;
}
